html,
body {
    background-image: url("C:/Users/Travie/Desktop/stuff/images/nsa_the_world_by_kelevra2k9.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #222;
    width: 100%;
    height:100%;
    font-size: 100%/1.25;
    user-select: none;
}

.panel-default {
    margin-top: 15px;
    background-color: #222;
}

.panel .panel-default .map {
    margin-top: 20px;
}

#computer {
    border-radius: 0.5em;
    border: 1px solid #222;
    background: #d3d3d3;
    height: 99%;
    width: 99%;
    margin: 0.5% auto;
}

#screen {
    border: inset #555 4px;
    background: #222;
    border-radius: 0.5em;
    height: 80%;
    width: 85%;
    margin: 1em auto;
    padding: 5%;
    padding-left:5px;
    padding-top: 5px;
    font-family: "Courier new", "american typewriter";
    font-weight: 400;
    font-size: .8em;
    line-height: 2;
    letter-spacing: 1.2px;
    color: #58bf1d;
    text-shadow: 0px 0px 3px rgba(88, 191, 29, 0.5);
}

#screen input {
    display: inline;
    background: transparent;
    border: none;
    outline: none;
    font: inherit;
    color: inherit;
    text-shadow: inherit;
    margin: 0 0 -0.4em 0;
    padding: 0;
    line-height: inherit;
}

#screen input:after {
    display: inline-block;
    height: 1em;
    width: 0.5em;
    margin: 0 0.2em -0.2em 0.2em;
    animation: blink 5.7s infinite;
}

a {
    text-decoration: none;
    color: inherit
}

 #map {
        height: 500px;
        width: 700px;
 }
 
 @keyframes blink {
  50% { opacity: 1; }
  100% { opacity: 0; }
}
.hidden {

	display: none;
}

.password {
	position: absolute;
    font-family: "Courier new", "american typewriter";
    color: #58bf1d;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 27px;
	letter-spacing: 5px;
	text-transform: uppercase;
}

.granted {
	position: absolute;
    font-family: "Courier new", "american typewriter";
    color: #58bf1d;
	top: 75%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: .8em;
}

#info {
	position: absolute;
    font-family: "Courier new", "american typewriter";
	top: 0;
	left: 0;
}

p { 
    font-family: "Courier new", "american typewriter";
    margin: 10px;
    height: 215px;
    color: #58bf1d;
 }

.button {
    font-family: "Courier new", "american typewriter";
    color: #B33A3A;
	background-color: #111;
	border: solid 1px #888;
	padding: 8px 16px;
	font-size: 15px;
	letter-spacing: 2px;
	cursor: pointer;
}

.rerun {
    color: #B33A3A;
    font-family: "Courier new", "american typewriter";
	position: absolute;
    color: #888;
	bottom: 25px;
	right: 25px;
}

.start {
    color: #B33A3A;
    font-family: "Courier new", "american typewriter";
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.blink {
	    animation: blink 0.8s steps(1, start) infinite alternate;
}